---
import "../styles/global.css";
const title = "LexiFlow – Lectura accesible para todos";
const description =
  "LexiFlow es una herramienta que ayuda a personas con dislexia y dificultades de lectura a entender mejor los textos. Ajusta tipografía, tamaño, bloques y escucha el contenido en voz alta.";
const url = "https://lexidesign.netlify.app";
const image = `${url}/og-image.png`;
---

<!doctype html>
<html lang="es">
  <head>
    <!-- Básico -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="dislexia, accesibilidad, lectura, texto a voz, inclusión"
    />
    <meta name="author" content="Nahuwudev" />

    <!-- Open Graph (Facebook, LinkedIn, etc.) -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={image} />
    <meta property="og:locale" content="es_ES" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <!-- Accesibilidad -->
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body class="container mx-auto min-h-screen">
    <slot />
  </body>
</html>
